<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <input type="text" v-model.number="number1">
    <a v-model="operation">+</a>
    <input type="text" v-model.number="number2">
    <button type="button" v-on:click="calculate">=</button>
    <div>
        {{ result }}
    </div>
    



    
    <div id="app">
    <input type="text" v-model.number="number1">
    <a v-model="operation">+</a>
    <input type="text" v-model.number="number2">
    <button type="button" v-on:click="calculate">=</button>
    <div>
        {{ result }}
    </div>
</div>

    
    

    <script src="js/index.js"></script>
    <script>app.mount('#app');</script>
</body>
</html>